// START CUSTOMIZING DIV
.container-custom {
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
// END CUSTOMIZING DIV




nav {
    box-shadow: 0px 1px 4px rgba(0,0,0, .12);
    .navbar-top {
        padding: 20px;
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}

// SECTION HOMEPAGE
.headline-banner {
    .glide {
        
        .text-headline {
            padding: 0 20px;
            width: 100%;
            height: 650px;
            color: white;
            display: grid;
            place-content: center;
            position: absolute;
            z-index: 3;
        }
        .glide__slides {
            &.overlay-wrapper:after {
                position: absolute;
                content: '';
                width: 100%;
                height: 650px;
                top: 0;
                left: 0;
                background-color: rgba(0,0,0, .50);
            }
            .glide__slide {
                width: 100%;
                height: 650px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
    
            }
        }
    }
}
// SECTION ABOUT
.about {
    margin-bottom: 60px;
}
// SECTION HEAD OF SCHOOL | KEPALA SEKOLAH
.head-of-school {
    .bg-overlay {
        width: 100%;
        height: 550px;
        background: linear-gradient(90deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.8) 100%), url('/img/s2-homepage.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        .container-custom {
            color: white;
            .img-profile {
                margin: 0 auto;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                object-fit: cover;
            }
            figcaption {
                color: rgb(169, 169, 169);
            }
        }
    }
}
// SECTION FACILITIES
.facilities {
    margin: 60px 0px;
    .row-facilities {
        justify-content: center;
        .col{
            padding: 30px;
            display: flex;
            align-items: center;
            border-radius: 8px;
            height: 200px;
            
            background-color: #003cb3;
            color: white;
            .icon {
                font-size: 50px;
                height: 100%;
                min-width: 125px;
                margin-right: 20px;
            }
        }
    }
}
// FOOTER
footer {
    padding: 50px 10px;
    background-color: #333333;
    color: white;
    .map-direction {
        max-width: 1000px;
        margin: 0 auto;
        .map-content {
            .heading {
                margin-bottom: 50px;
            }
        }
    }
}
// SECTION LOGIN
.section-login {
    .container-login {
        max-width: 350px;
        margin: 60px auto;
        border: 1px solid rgba(0,0,0, .12);
        padding: 25px;
        border-radius: 7px;
    }
}
// SECTION REGISTRATION
.section-registration {
    .container-registration {
        max-width: 650px;
        margin: 60px auto;
        border: 1px solid rgba(0,0,0, .12);
        padding: 25px;
        border-radius: 7px;
        button#show-pass {
            display: grid;
            place-content: center;
            width: 50px;
            .show-on {
                display: block;
            }
            .show-off {
                display: none;
            }
            &.show-eyes {
                .show-off {
                    display: block;
                }
                .show-on {
                    display: none;
                }
            }
        }
    }
}
